.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%; /* 가운데 정렬을 위해 수정 */
  transform: translateX(-50%);
  background-color: #7100cf;
  height: 100vh;
  z-index: 9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 750px;

  @media (max-width: 768px) {
    max-width: 600px;
  }
}

.title {
  color: #fff;
  font-size: 80px;
  font-family: 'Alfa Slab One', serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.description {
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: -63px;
  font-family: 'Noto Sans KR', serif;
}

.text_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
  flex-direction: column;
}

.puppy_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
}

.footer_nav {
  gap: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 6px 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  @media (max-width: 768px) {
    max-width: 600px;
  }
}

@media only screen and (max-width: 430px) and (-webkit-min-device-pixel-ratio: 2) {
  .text_wrapper {
    margin-top: 3rem;
  }
  .puppy_wrapper {
    max-width: 400px;
  }
}
